body {
  margin: 0;

  background-color: #9CAF88;

  font-family: Arial, Helvetica, sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.update-box {
  background-color: white;

  color: black;

  padding: 2rem;

  width: 500px;
  max-width: 80%;

  border-radius: 10px;

  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

h1 {
  margin-top: 0;
}